.book-added {
  border-left: 6px solid #99C59A;
  background-color: #E9FAE9;
  padding-left: 10px;
  color: #8AAE8B;
}
.codigo-aviso{
  border-left: 6px solid #C89090;
  background-color: #FCF4F4;
  padding-left: 10px;
  color: #B26F6F;
}